{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About Us</h1>
    <p>Somehow you havee ended up on my football website I don't know how you got here, but I hope you enjoy your time.</p>
    <p>My website is jam-packed with exciting, challenging quizzes that test your knowledge while blessing you with information you didn't possess before you entered!</p>
    <p>I hope you enjoy your stay and please feel free to use the "Contact Us" page in the top right-hand corner to communicate!</p>
</div>
{% endblock %}
